<template>
  <div class="flex justify-center items-center h-screen">
      <img src="@/assets/404.jpg" alt="404" class="h-2/5" contain />
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>