<template>
  <div v-if="characterInfo">
    <div class="m-2 flex justify-end">
      <Button label="Back" @click="$router.push({ name: 'Home' })" />
    </div>
    <div
      v-if="characterInfo"
      class="
        max-w-md
        mx-auto
        mt-12
        bg-white
        rounded-xl
        shadow-md
        overflow-hidden
        md:max-w-2xl
      "
    >
      <div class="md:flex">
        <div class="md:flex-shrink-0">
          <img
            class="w-full object-cover"
            :src="characterInfo.image"
            alt="Man looking at item at a store"
          />
        </div>
        <div class="p-8">
          <div
            class="
              uppercase
              tracking-wide
              text-sm text-indigo-500
              font-semibold
            "
          >
            {{ characterInfo.name }}
          </div>
          <p class="block mt-1 text-lg leading-tight font-medium text-black">
            Gender: {{ characterInfo.gender }}
          </p>

          <p class="block mt-1 text-lg leading-tight font-medium text-black">
            Origin: {{ characterInfo.origin.name }}
          </p>

          <p class="block mt-1 text-lg leading-tight font-medium text-black">
            Species: {{ characterInfo.species }}
          </p>

          <p
            v-if="characterInfo.type"
            class="block mt-1 text-lg leading-tight font-medium text-black"
          >
            Type: {{ characterInfo.type }}
          </p>

          <p class="block mt-1 text-lg leading-tight font-medium text-black">
            Status: {{ characterInfo.status }}
          </p>
          <div class="flex items-end">
            <img class="w-4 mr-2 my-2" src="@/assets/iconPos.jpg" alt="pos" />
            <div class="flex flex-col justify-end">
              {{ characterInfo.location.name }}
            </div>
          </div>
          <div class="flex justify-end mt-8">
            <Button
              label="Liste des episodes"
              @click="showEpisodeList = !showEpisodeList"
            />
          </div>
        </div>
      </div>
    </div>

    <div v-show="showEpisodeList">
      <div
        v-for="(episode, index) in characterInfo.episode"
        :key="index"
        class="
          max-w-md
          mx-auto
          my-2
          bg-white
          rounded-xl
          shadow-md
          overflow-hidden
          md:max-w-2xl
        "
      >
        <div class="flex justify-center">
          <div class="p-4">
            <div
              class="
                cursor-pointer
                uppercase
                tracking-wide
                text-sm text-indigo-500
                font-semibold
              "
            >
              Episode {{ episode | episodeNumber }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Button from "@/components/Button";

export default {
  components: {
    Button,
  },
  data() {
    return {
      id: null,
      characterInfo: null,
      showEpisodeList: false,
    };
  },
  filters: {
    episodeNumber(value) {
      return value.split("/").pop();
    },
  },
  async mounted() {
    this.characterInfo = await this.$rickAndMortyAPI
      .get("/character/" + this.$route.params.id)
      .then((res) => res.data)
      .catch(() => this.$router.push({ name: "Home" }));
  },
};
</script>

<style>
</style>