<template>
  <div class="container mx-auto">
    <div v-if="!getLoading">
      <div class="flex justify-center mt-2">
        <Input
          class="mx-2 w-full md:w-3/5 lg:w-2/5"
          placeholder="Search (sepate by a comma for multiple characters)"
          v-model.trim="getFilters.name"
          @input="search()"
        />
      </div>

      <div class="flex justify-center">
        <Checkbox
          label="Alive"
          id="Alive"
          :checked="getFilters.status == 'Alive'"
          @change="changeStatus"
        />
        <Checkbox
          label="Dead"
          id="Dead"
          :checked="getFilters.status == 'Dead'"
          @change="changeStatus"
        />
        <Checkbox
          label="Unknown"
          id="unknown"
          :checked="getFilters.status == 'unknown'"
          @change="changeStatus"
        />
      </div>

      <div class="flex flex-wrap justify-center">
        <div
          class="w-full md:w-1/3 lg:w-1/5"
          v-for="(character, index) in getPaginateCharacters"
          :key="index"
        >
          <Card :character="character" @click="loadCharacterPage" />
        </div>
      </div>

      <div class="flex justify-center">
        <Pagination
          v-if="getPaginateCharacters"
          :currentPage="getCurrentPage"
          :totalPages="getTotalPages"
        />
      </div>
    </div>

    <Loader v-else />
  </div>
</template>

<script>
import Input from "@/components/Input";
import Checkbox from "@/components/Checkbox";
import Card from "@/components/Card";
import Pagination from "@/components/Pagination";
import Loader from "@/components/Loader";

import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    Input,
    Checkbox,
    Card,
    Pagination,
    Loader,
  },
  computed: {
    ...mapGetters([
      "getFilters",
      "getPaginateCharacters",
      "getTotalPages",
      "getCurrentPage",
      "getLoading",
    ]),
  },
  methods: {
    ...mapActions([
      "changeFilterStatus",
      "loadCharacters",
      "paginateCharacters",
      "changeCurrentPage",
    ]),
    loadCharacterPage(characterId) {
      this.$router.push({
        name: "CharacterPage",
        params: {
          id: characterId,
        },
      });
    },
    changeStatus(target) {
      const status = target.checked ? target.id : null;
      this.changeFilterStatus(status);
    },
    search() {
      this.changeCurrentPage(1);
    },
  },
  async mounted() {
    await this.loadCharacters();
    await this.paginateCharacters();
  },
};
</script>
