<template>
  <button
    @click="$emit('click')"
    :class="[defaultClass, { current: current }]"
  >
    {{ label }}
  </button>
</template>

<script>
export default {
  props: {
    label: {
      type: String | Number,
      required: true,
    },
    current: {
      type: Boolean,
      default: false,
    },
  },
  data(){
      return {
          defaultClass: "bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded m-2",
      }
  }
};
</script>

<style scoped>
    .current{
        border-color: lightsalmon;
        color: lightsalmon;
    }
</style>