<template>
  <button
    class="
      bg-blue-500
      hover:bg-blue-700
      text-white
      font-bold
      py-2
      px-4
      border border-blue-700
      rounded
    "
    @click="$emit('click')"
  >
    {{label}}
  </button>
</template>

<script>
export default {
    props: {
        label: {
            type: String,
            required: true
        }
    }
};
</script>

<style>
</style>