<template>
  <div class="rounded overflow-hidden shadow-lg m-2 cursor-pointer" @click="$emit('click', character.id)">
    <img
      class="object-fill w-full"
      :src="character.image"
      :alt="character.name"
    />
    <div class="p-4">
      <div class="truncate text-center font-bold text-xl mb-2">
        {{ character.name }}
      </div>
    </div>
    <div class="py-2 flex justify-center">
      <span
        class="
          inline-block
          bg-gray-200
          rounded-full
          px-3
          py-1
          text-sm
          font-semibold
          text-gray-700
          mr-2
          mb-2
        "
        >#{{ character.status }}</span
      >
      <span
        class="
          inline-block
          bg-gray-200
          rounded-full
          px-3
          py-1
          text-sm
          font-semibold
          text-gray-700
          mr-2
          mb-2
        "
        >#{{ character.gender }}</span
      >
    </div>
  </div>
</template>

<script>
export default {
  props: ["character"]
};
</script>

<style>
</style>