<template>
  <label class="inline-flex items-center mt-3 mr-2">
    <input
      :id="id"
      type="checkbox"
      class="form-checkbox text-blue-500 rounded"
      :checked="checked"
      @change="$emit('change', $event.target)"
    /><span class="ml-2 text-gray-700">{{ label }}</span>
  </label>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: true,
    },
    checked: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style>
</style>