<template>
  <input
    class="
      shadow
      appearance-none
      border
      rounded
      py-2
      px-3
      text-gray-700
      leading-tight
      focus:outline-none focus:shadow-outline
    "
    type="text"
    :placeholder="placeholder"
    :value="value"
    @input="$emit('input', $event.target.value)"
  />
</template>

<script>
export default {
  props: ["placeholder", "value"],
};
</script>

<style>
</style>