<template>
  <div class="flex justify-center items-center h-screen">
    <div
      style="border-top-color: transparent"
      class="
        w-32
        h-32
        border-4 border-blue-400 border-solid
        rounded-full
        animate-spin
      "
    ></div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>