<template>
  <div class="flex flex-center m-2">
    <ButtonPaginate label="First" @click="changeCurrentPage(1)" />

    <div v-for="(value, index) in [-2, -1, 0, 1, 2]" :key="index">
      <ButtonPaginate
        v-if="currentPage + value > 0 && currentPage + value <= totalPages"
        :label="currentPage + value"
        :current="currentPage + value == currentPage"
        @click="changeCurrentPage(currentPage + value)"
      />
    </div>
    <ButtonPaginate label="Last" @click="changeCurrentPage(totalPages)" />
  </div>
</template>

<script>
import ButtonPaginate from "@/components/ButtonPaginate";
import { mapActions } from "vuex";

export default {
  props: {
    currentPage: {
      type: Number,
      required: true,
      default: 1,
    },
    totalPages: {
      type: Number,
    },
  },
  components: {
    ButtonPaginate,
  },
  methods: {
    ...mapActions(["changeCurrentPage"]),
  },
};
</script>

<style>
</style>